<% if (typeof errors !='undefined'){%>
   
    <% errors.forEach(err=>{%>
        <div   class="container">
            <div 
            class="flash_message">
                <div style="color:white !important"
                class="chip chip_message_warning red darken-1
                ">
                    <%= err.msg%>
                    <i class="close material-icons">close</i>
                </div>
               
            </div>
        </div>
        <%    });%>
        <%}%>

        
        <% if ( success !=''){%>
   
           
            <div   class="container">
                <div 
                class="flash_message">
                    <div style="color:white !important"
                    class="chip chip_message_success green
                    ">
                        <%= success%>
                        <i class="close material-icons">close</i>
                    </div>
                   
                </div>
            </div>
           
            <%}%>  
               <% if ( error !=''){%>
   
           
                <div   class="container">
                    <div 
                    class="flash_message">
                        <div style="color:white !important"
                        class="chip chip_message_success red
                        ">
                            <%= error%>
                            <i class="close material-icons">close</i>
                        </div>
                       
                    </div>
                </div>
               
                <%}%>
        
                <% if ( error_msg !=''){%>
   
           
                    <div   class="container">
                        <div 
                        class="flash_message">
                            <div style="color:white !important"
                            class="chip chip_message_success red
                            ">
                                <%= error_msg%>
                                <i class="close material-icons">close</i>
                            </div>
                           
                        </div>
                    </div>
                   
                    <%}%>
            
                    
             